.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    border-bottom: 1px #d8d8d8 solid;
}
  
.menuWrapper {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.line {
    width: 1px;
    height: 20px;
    background-color: var(--light-colors-dark-gray-light);
  }
.navIcon {
    transform: translateY(3px);
}
.logo span {
    color: var(--light-colors-accent-light);
}
  
.logo {
    color: var(--light-colors-black-light, #000);
    font-family: Allerta Stencil;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.5px;
}
  
  